<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupo13.inventario">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.CatalogoEquipoActualizarActivity"></activity>
        <activity android:name=".activities.CatalogoEquipoEliminarActivity" />
        <activity android:name=".activities.CatalogoEquipoConsultarActivity" />
        <activity android:name=".activities.CatalogoEquipoInsertarActivity" />
        <activity android:name=".activities.CatalogoEquipoMenuActivity" />
        <activity android:name=".activities.DetalleDescargosActualizarActivity" />
        <activity android:name=".activities.DetalleDescargosConsultarActivity" />
        <activity android:name=".activities.DetalleDescargosEliminarActivity" />
        <activity android:name=".activities.DetalleDescargosInsertarActivity" />
        <activity android:name=".activities.DetalleDescargosMenuActivity" />
        <activity android:name=".activities.DescargosEliminarActivity" />
        <activity android:name=".activities.DescargosConsultarActivity" />
        <activity android:name=".activities.DescargosActualizarActivity" />
        <activity android:name=".activities.DescargosInsertarActivity" />
        <activity android:name=".activities.DescargosMenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>