<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupo13.inventario">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_inv"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/icono_inv"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SustitucionesActualizarWSActivity"></activity>
        <activity android:name=".activities.SustitucionesConsultarWSActivity" />
        <activity android:name=".activities.SustitucionesEliminarWSActivity" />
        <activity android:name=".activities.SustitucionesInsertarWSActivity" />
        <activity android:name=".activities.TipoProductoActualizarWSActivity" />
        <activity android:name=".activities.TipoProductoConsultarWSActivity" />
        <activity android:name=".activities.TipoProductoEliminarWSActivity" />
        <activity android:name=".activities.TipoProductoInsertarWSActivity" />
        <activity android:name=".activities.TipoProductoListaActivity" />
        <activity android:name=".activities.UbicacionesActualizarWSActivity" />
        <activity android:name=".activities.UbicacionesConsultarWSActivity" />
        <activity android:name=".activities.UbicacionesEliminarWSActivity" />
        <activity android:name=".activities.UbicacionesInsertarWSActivity" />
        <activity android:name=".activities.UbicacionesListaActivity" />
        <activity android:name=".activities.MotivoActualizarWSActivity" />
        <activity android:name=".activities.MotivoConsultarWSActivity" />
        <activity android:name=".activities.MotivoEliminarWSActivity" />
        <activity android:name=".activities.MotivoInsertarWSActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activities.DescargosInsertarWSActivity" />
        <activity android:name=".activities.DescargosActualizarWSActivity" />
        <activity android:name=".activities.DescargosConsultarWSActivity" />
        <activity android:name=".activities.DescargosEliminarWSActivity" />
        <activity android:name=".activities.CatalogoEquipoConsultarWSActivity" />
        <activity android:name=".activities.CatalogoEquipoEliminarWSActivity" />
        <activity android:name=".activities.CatalogoEquipoActualizarWSActivity" />
        <activity android:name=".activities.CatalogoEquipoInsertarWSActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.DocumentoListaActivity" />
        <activity android:name=".activities.MovimientoInventarioActualizarActivity" />
        <activity android:name=".activities.MovimientoInventarioConsultarActivity" />
        <activity android:name=".activities.MovimientoInventarioEliminarActivity" />
        <activity android:name=".activities.MovimientoInventarioInsertarActivity" />
        <activity android:name=".activities.MovimientoInventarioMenuActivity" />
        <activity android:name=".activities.DetalleReservaConsultarActivity" />
        <activity android:name=".activities.DetalleReservaEliminarActivity" />
        <activity android:name=".activities.DetalleReservaActualizarActivity" />
        <activity android:name=".activities.DetalleReservaInsertarActivity" />
        <activity android:name=".activities.DetalleReservaMenuActivity" />
        <activity android:name=".activities.EquipoInformaticoActualizarActivity" />
        <activity android:name=".activities.EquipoInformaticoEliminarActivity" />
        <activity android:name=".activities.EquipoInformaticoConsultarActivity" />
        <activity android:name=".activities.EquipoInformaticoInsertarActivity" />
        <activity android:name=".activities.EquipoInformaticoMenuActivity" />
        <activity android:name=".activities.AutorEliminarActivity" />
        <activity android:name=".activities.AutorActualizarActivity" />
        <activity android:name=".activities.AutorInsertarActivity" />
        <activity android:name=".activities.AutorConsultarActivity" />
        <activity android:name=".activities.AutorMenuActivity" />
        <activity android:name=".activities.SustitucionesActualizarActivity" />
        <activity android:name=".activities.SustitucionesConsultarActivity" />
        <activity android:name=".activities.SustitucionesEliminarActivity" />
        <activity android:name=".activities.SustitucionesInsertarActivity" />
        <activity android:name=".activities.SustitucionesMenuActivity" />
        <activity android:name=".activities.UbicacionesActualizarActivity" />
        <activity android:name=".activities.UbicacionesConsultarActivity" />
        <activity android:name=".activities.UbicacionesEliminarActivity" />
        <activity android:name=".activities.UbicacionesInsertarActivity" />
        <activity android:name=".activities.UbicacionesMenuActivity" />
        <activity android:name=".activities.TipoProductoActualizarActivity" />
        <activity android:name=".activities.TipoProductoConsultarActivity" />
        <activity android:name=".activities.TipoProductoEliminarActivity" />
        <activity android:name=".activities.TipoProductoInsertarActivity" />
        <activity android:name=".activities.TipoProductoMenuActivity" />
        <activity android:name=".activities.DocumentoEliminarActivity" />
        <activity android:name=".activities.DocumentoActualizarActivity" />
        <activity android:name=".activities.DocumentoConsultarActivity" />
        <activity android:name=".activities.DocumentoInsertarActivity" />
        <activity android:name=".activities.DocumentoMenuActivity" />
        <activity android:name=".activities.ParticipacionDocenteEliminarActivity" />
        <activity android:name=".activities.ParticipacionDocenteActualizarActivity" />
        <activity android:name=".activities.ParticipacionDocenteConsultarActivity" />
        <activity android:name=".activities.ParticipacionDocenteInsertarActivity" />
        <activity android:name=".activities.ParticipacionDocenteMenuActivity" />
        <activity android:name=".activities.DetalleAutorEliminarActivity" />
        <activity android:name=".activities.DetalleAutorActualizarActivity" />
        <activity android:name=".activities.DetalleAutorConsultarActivity" />
        <activity android:name=".activities.DetalleAutorListaActivity" />
        <activity android:name=".activities.DetalleAutorInsertarActivity" />
        <activity android:name=".activities.DetalleAutorMenuActivity" />
        <activity android:name=".activities.CatalogoEquipoActualizarActivity" />
        <activity android:name=".activities.CatalogoEquipoEliminarActivity" />
        <activity android:name=".activities.CatalogoEquipoConsultarActivity" />
        <activity android:name=".activities.CatalogoEquipoInsertarActivity" />
        <activity android:name=".activities.CatalogoEquipoMenuActivity" />
        <activity android:name=".activities.DetalleDescargosActualizarActivity" />
        <activity android:name=".activities.DetalleDescargosConsultarActivity" />
        <activity android:name=".activities.DetalleDescargosEliminarActivity" />
        <activity android:name=".activities.DetalleDescargosInsertarActivity" />
        <activity android:name=".activities.DetalleDescargosMenuActivity" />
        <activity android:name=".activities.DescargosEliminarActivity" />
        <activity android:name=".activities.DescargosConsultarActivity" />
        <activity android:name=".activities.DescargosActualizarActivity" />
        <activity android:name=".activities.DescargosInsertarActivity" />
        <activity android:name=".activities.DescargosMenuActivity" />
        <activity android:name=".activities.DocenteMenuActivity" />
        <activity android:name=".activities.DocenteInsertarActivity" />
        <activity android:name=".activities.DocenteEliminarActivity" />
        <activity android:name=".activities.DocenteActualizarActivity" />
        <activity android:name=".activities.DocenteConsultarActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MotivoMenuActivity" />
        <activity android:name=".activities.MotivoInsertarActivity" />
        <activity android:name=".activities.MotivoEliminarActivity" />
        <activity android:name=".activities.MotivoConsultarActivity" />
        <activity android:name=".activities.MotivoActualizarActivity" />
    </application>

</manifest>