<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupo13.inventario">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.EquipoInformaticoActualizarActivity"></activity>
        <activity android:name=".activities.EquipoInformaticoEliminarActivity" />
        <activity android:name=".activities.EquipoInformaticoConsultarActivity" />
        <activity android:name=".activities.EquipoInformaticoInsertarActivity" />
        <activity android:name=".activities.EquipoInformaticoMenuActivity" />
        <activity android:name=".activities.AutorEliminarActivity" />
        <activity android:name=".activities.AutorActualizarActivity" />
        <activity android:name=".activities.AutorInsertarActivity" />
        <activity android:name=".activities.AutorConsultarActivity" />
        <activity android:name=".activities.AutorMenuActivity" />
        <activity android:name=".activities.TipoInsertarActualizarActivity" />
        <activity android:name=".activities.TipoInsertarConsultarActivity" />
        <activity android:name=".activities.SustitucionesActualizarActivity"></activity>
        <activity android:name=".activities.SustitucionesConsultarActivity" />
        <activity android:name=".activities.SustitucionesEliminarActivity" />
        <activity android:name=".activities.SustitucionesInsertarActivity" />
        <activity android:name=".activities.SustitucionesMenuActivity" />
        <activity android:name=".activities.UbicacionesActualizarActivity" />
        <activity android:name=".activities.UbicacionesConsultarActivity" />
        <activity android:name=".activities.UbicacionesEliminarActivity" />
        <activity android:name=".activities.UbicacionesInsertarActivity" />
        <activity android:name=".activities.UbicacionesMenuActivity" />
        <activity android:name=".activities.TipoProductoActualizarActivity" />
        <activity android:name=".activities.TipoProductoConsultarActivity" />
        <activity android:name=".activities.TipoProductoEliminarActivity" />
        <activity android:name=".activities.TipoProductoInsertarActivity" />
        <activity android:name=".activities.TipoProductoMenu" />
        <activity android:name=".activities.DocumentoEliminarActivity" />
        <activity android:name=".activities.DocumentoActualizarActivity" />
        <activity android:name=".activities.DocumentoConsultarActivity" />
        <activity android:name=".activities.DocumentoInsertarActivity" />
        <activity android:name=".activities.DocumentoMenuActivity" />
        <activity android:name=".activities.ParticipacionDocenteEliminarActivity" />
        <activity android:name=".activities.ParticipacionDocenteActualizarActivity" />
        <activity android:name=".activities.ParticipacionDocenteConsultarActivity" />
        <activity android:name=".activities.ParticipacionDocenteInsertarActivity" />
        <activity android:name=".activities.ParticipacionDocenteMenuActivity" />
        <activity android:name=".activities.DetalleAutorEliminarActivity" />
        <activity android:name=".activities.DetalleAutorActualizarActivity" />
        <activity android:name=".activities.DetalleAutorConsultarActivity" />
        <activity android:name=".activities.DetalleAutorInsertarActivity" />
        <activity android:name=".activities.DetalleAutorMenuActivity" />
        <activity android:name=".activities.CatalogoEquipoActualizarActivity" />
        <activity android:name=".activities.CatalogoEquipoEliminarActivity" />
        <activity android:name=".activities.CatalogoEquipoConsultarActivity" />
        <activity android:name=".activities.CatalogoEquipoInsertarActivity" />
        <activity android:name=".activities.CatalogoEquipoMenuActivity" />
        <activity android:name=".activities.DetalleDescargosActualizarActivity" />
        <activity android:name=".activities.DetalleDescargosConsultarActivity" />
        <activity android:name=".activities.DetalleDescargosEliminarActivity" />
        <activity android:name=".activities.DetalleDescargosInsertarActivity" />
        <activity android:name=".activities.DetalleDescargosMenuActivity" />
        <activity android:name=".activities.DescargosEliminarActivity" />
        <activity android:name=".activities.DescargosConsultarActivity" />
        <activity android:name=".activities.DescargosActualizarActivity" />
        <activity android:name=".activities.DescargosInsertarActivity" />
        <activity android:name=".activities.DescargosMenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MotivoMenuActivity" />
        <activity android:name=".activities.MotivoInsertarActivity" />
        <activity android:name=".activities.MotivoEliminarActivity" />
        <activity android:name=".activities.MotivoConsultarActivity" />
        <activity android:name=".activities.MotivoActualizarActivity" />
    </application>

</manifest>